* {
    padding: 0;
    margin: 0;
}

/* 最外层容器 */
div.tetris-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 主要内容 */
div.tetris-main {
    display: flex;
    width: 960px;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
}
div.tetris-container.tetris-xs div.tetris-main {
    width: 100vw;
    height: 100vh;
}

/* 游戏 */
div.tetris-game {
    display: flex;
    justify-content: center;
    padding: 20px;
    /*background-color: #0f0f0f;*/
    color: #e1e1e1;
    font-family: sans-serif;
}
div.tetris-container.tetris-xs div.tetris-game {
    width: 100%;
    padding: 20px 0;
    font-size: 10px;
}

/* 游戏中的小标题 */
div.tetris-game .tetris-game-sub-title {
    margin-bottom: 8px;
    font-size: 110%;
    font-weight: bold;
    color: #f1f1f1;
}

/* 游戏中的菜单 */
div.tetris-game div.tetris-game-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 游戏中的菜单按钮 */
div.tetris-game div.tetris-game-menu button {
    width: 120px;
    padding: 4px 0;
    margin: 2px;
    border: 2px solid #2b2b2b;
    background-color: #1b1b1b;
    color: #e1e1e1;
    cursor: pointer;
    font-size: 16px;
}
div.tetris-game div.tetris-game-menu button:hover {
    background-color: #2b2b2b;
}
div.tetris-game div.tetris-game-menu button:active {
    background-color: #1b1b1b;
}

/* 游戏侧栏 */
div.tetris-game > div.tetris-game-sidebar {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
div.tetris-container.tetris-xs div.tetris-game > div.tetris-game-sidebar {
    width: 50px;
    padding: 0 2px;
}
div.tetris-container.tetris-xs div.tetris-game-sidebar div.tetris-game-sub-title {
    margin-bottom: 4px;
}

/* 游戏侧栏中的一级块 */
div.tetris-game > div.tetris-game-sidebar > div {
    width: 100%;
    padding: 5px;
    border: 4px solid #2b2b2b;
    background-color: #1b1b1b;
}
div.tetris-container.tetris-xs div.tetris-game > div.tetris-game-sidebar-left > div {
    padding: 5px 0;
    border-right-width: 0;
}
div.tetris-container.tetris-xs div.tetris-game > div.tetris-game-sidebar-right > div {
    padding: 5px 0;
    border-left-width: 0;
}

/* 游戏场 */
div.tetris-game > div.tetris-game-field {
    border: 4px solid #2b2b2b;
}

/* 侧栏中的方块展示位 */
div.tetris-game-sidebar div.tetris-block-booth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 侧栏中的方块展示位中的方块 */
div.tetris-game-sidebar div.tetris-block-booth > div.tetris-block {
    padding: 10px 0;
}
div.tetris-container.tetris-xs div.tetris-game-sidebar div.tetris-block-booth > div.tetris-block {
    padding: 5px;
}
div.tetris-container.tetris-xs div.tetris-game-sidebar div.tetris-block-booth > div.tetris-block canvas {
    height: 20px;
}

/* 侧栏中的计分栏 */
div.tetris-game-sidebar div.tetris-score-box {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
div.tetris-container.tetris-xs div.tetris-game-sidebar div.tetris-score-box {
    margin-top: 20px;
}

/* 侧栏中的计分栏中的项 */
div.tetris-game-sidebar div.tetris-score-box > div {
    margin: 15px 0;
}
div.tetris-container.tetris-xs div.tetris-game-sidebar div.tetris-score-box > div {
    margin: 10px 0;
}

/* 侧栏中的按钮框 */
div.tetris-game > div.tetris-game-sidebar > div.tetris-btn-box {
    border: 0;
    margin-top: 20px;
    background-color: transparent;
}
div.tetris-game-sidebar > div.tetris-btn-box button {
    width: 100%;
    margin: 2px;
    padding: 4px 0;
    border: 2px solid #2b2b2b;
    background-color: #1b1b1b;
    color: #e1e1e1;
    cursor: pointer;
    /*font-size: 16px;*/
}
div.tetris-game-sidebar > div.tetris-btn-box button:hover {
    background-color: #2b2b2b;
}
div.tetris-game-sidebar > div.tetris-btn-box button:active {
    background-color: #1b1b1b;
}

/* 悬浮框提示框 */
div.tetris-main div.tetris-tip-box {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.tetris-main div.tetris-tip-box > div {
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 10px;
    border: 4px solid #2b2b2b;
    background-color: #202020;
    color: #e1e1e1;
}

/* 悬浮框提示框中的按钮 */
div.tetris-tip-box button {
    width: 100px;
    padding: 8px 0;
    margin: 15px 5px 5px;
    border: 2px solid #2b2b2b;
    background-color: #1b1b1b;
    color: #e1e1e1;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}
div.tetris-tip-box button:hover {
    background-color: #2b2b2b;
}
div.tetris-tip-box button:active {
    background-color: #1b1b1b;
}
