* {
    padding: 0;
    margin: 0;
}

/* 游戏 */
div.tetris-game {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0f0f0f;
    color: #e1e1e1;
    font-family: sans-serif;
}

/* 游戏中的小标题 */
div.tetris-game .tetris-game-sub-title {
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: bold;
    color: #f1f1f1;
}

/* 游戏中的菜单 */
div.tetris-game div.tetris-game-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 游戏中的菜单按钮 */
div.tetris-game div.tetris-game-menu button {
    width: 100px;
    padding: 8px 0;
    margin: 5px;
    border: 2px solid #2b2b2b;
    background-color: #1b1b1b;
    color: #e1e1e1;
    cursor: pointer;
}
div.tetris-game div.tetris-game-menu button:hover {
    background-color: #2b2b2b;
}
div.tetris-game div.tetris-game-menu button:active {
    background-color: #1b1b1b;
}

/* 游戏侧栏 */
div.tetris-game > div.tetris-game-sidebar {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

/* 游戏侧栏中的一级块 */
div.tetris-game > div.tetris-game-sidebar > div {
    width: 100%;
    padding: 5px;
    border: 4px solid #2b2b2b;
    background-color: #1b1b1b;
}

/* 游戏场 */
div.tetris-game > div.tetris-game-field {
    border: 4px solid #2b2b2b;
}

/* 侧栏中的方块展示位 */
div.tetris-game-sidebar div.tetris-block-booth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 侧栏中的方块展示位中的方块 */
div.tetris-game-sidebar div.tetris-block-booth > div.tetris-block {
    padding: 10px 0;
}

/* 侧栏中的计分栏 */
div.tetris-game-sidebar div.tetris-score-box {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

/* 侧栏中的计分栏中的项 */
div.tetris-game-sidebar div.tetris-score-box > div {
    margin: 15px 0;
}


